{% extends 'home/index.html' %}
<style type="text/css">
    .zoom {
        /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 0.1s, height 0.3s, transform 0.3s;
    }
    
    .zoom:hover {
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform: scale(1.3);
    }
</style>

{% block contenido %}


<h1 align="center" style="color: white;">¿Quienes Somos?</h1>
    <div class="zoom" align="center"><img src="https://rochepacientes.es/dam/assets/images/entorno-cancer-mama.jpg" width="450px" height="200px" alt="center"></div>
    <h2 align="center" style="color: white;">En México existen muchas fundaciones que se encargan de las revisiones medicas de personas con cancer ademas de que las alientas a seguir adelante demostrando que son unas valientes guerreras capaces de lograr con cualquier cosa y una de ellas es
        el cancer de mama, alguans de estas fundaciones son:</h2>
    <h3 style="color: #ff0000; ">Fundacion COMESAMA A.C.</h3>
    <p style=" color: white; " align="justify">Esta funcacion ace en 2010, como iniciativa de Fundación CIMA, para formar una coalición de asociaciones, llamada Coalición Mexicana por la Salud Mamaria que afrontara la urgencia de hacer valer de manera organizada y competente, las necesidades de
        las pacientes de cáncer de mama durante la revisión de la NOM SSA2-041. Del trabajo llevado a cabo en el año 2010, se logró que en dicha Norma Oficial se integraran varias de las demandas de las pacientes, entre ellas, que la edad de inicio del
        tamizaje por mastografía se mantuviera a partir de los 40 años. En 2017, después de haberse consolidado como acreditado interlocutor de las autoridades en salud, los tomadores de decisiones y las pacientes con cáncer de mama, la coalición se constituyó
        en asociación civil sin fines de lucro. COMESAMA A.C., actualmente reúne a 30 organizaciones que trabajan a lo largo de la República Mexicana con el principal objetivo de incidir en política pública sobre cáncer de mama y salud reproductiva de
        la mujer</p>
    <p style="color: #ff0000; ">Misión </p>
    <p style="color: white; " align="justify"> Contribuir a revertir la tasa de morbimortalidad por causa del cáncer de mama en México a través de la incidencia en política pública.</p>
    <p style="color: #ff0000; ">Visión</p>
    <p style="color: white; " align="justify">Consolidarnos como una fuerza social reconocida, capaz de llevar la voz de la sociedad civil a diferentes foros, proponiendo mejoras en los servicios de salud.</p>
    <h4 style="color: #ff0000; ">Fundacion Clima</h4>
    <p style="color: white; " align="justify"> Somos una organización no gubernamental, sin fines de lucro, que contribuye a disminuir la mortalidad por cáncer de mama en México a través de siete líneas de acción: Información y Educación; Servicio a Pacientes; Plataforma Tanto por Hacer; Alianzas
        Estratégicas; Incidencia en Política Pública; Programas Comunitarios y Fortalecimiento Institucional. -Fundacion Clima</p>
    <p style="color: #ff0000; ">Visión</p>
    <p style="color: white; " align="justify">Hacer del cáncer de mama una enfermedad que no te arranque la vida.</p>
    <div class="zoom " align="center "><img src="https://www.gob.mx/cms/uploads/article/main_image/87651/imagen-blog-CANCER-DE-MAMA-JA.jpg" width="450px " height="200px " alt="center "></div>

{% endblock contenido %}