{% extends 'home/index.html' %}
{% block contenido %}
<body bgcolor="#F5A9F2" align="justify">

    <h3><font face = "Times New Roman" style="color:#A833FF;">¿QUÉ ES EL RECONOCIMIENTO DE PATRONES SINTÁCTICO ESTRUCTURAL?</font></h3>
    <p>Este enfoque se basa en encontrar las relaciones estructurales que guardan los objetos de estudio, utilizando la teoría de lenguajes formales. El objetivo es construir una gramática que describa la estructura del universo de objetos. </p>
    <p>En el reconocimiento sintáctico, cada patrón se describe en términos de sus elementos básicos, llamados primitivas y representados por P, y unas reglas sintácticas, llamadas gramática y representadas por G; en conjunto, especifican cómo se pueden generar patrones válidos de una determinada clase. </p>
    <img src="https://blogs.unitec.mx/content/dam/blogs/imagenes/corp_samara/inteligencia-artificial-que-es-y-hacia-donde-nos-lleva-3.jpg" align="right" width="300px" height="250px"><br>
    <h3><font face = "Times New Roman" style="color:#A833FF;">ANÁLISIS GRAMATICALES, RECONOCIMIENTO CON CADENAS Y LENGUAJES FORMALES</font></h3>
    <ul>
        <li><font face = "Times New Roman" style="color:#FFFFFF;"><em>Lenguajes Formales</em></font></li>
        <p>Se basan en la definición de una gramática que describe las estructuras sintácticas válidas capaces de identificar.</p>
        <li><font face = "Times New Roman" style="color:#FFFFFF;"><em>Reconocimiento con Cadenas</em></font></li>
        <p>Los patrones son representados por las secuencias ordenadas o cadenas de elementos discretos como una secuencia de letras en una palabra, la clasificación de patrones basada sobre dichas cadenas de símbolos discretos, difiere en el número de caminos de las técnicas más comúnmente usadas, debido a que los elementos de las cadenas (letras, caracteres o símbolos) son nominales; no existe noción de la distancia entre cadenas.</p>
        <li><font face = "Times New Roman" style="color:#FFFFFF;"><em>Reconocimiento usando Gramáticas</em></font></li>
        <p>Es muy similar a la aproximación general usada durante todo el reconocimiento de patrones. Con este método se supone que una oración de prueba fue generada por una de las n gramáticas, G1, G2, G3, ·····, Gn, las cuales pueden ser consideradas como modelos diferentes o clases.</p>
    </ul>

{% endblock contenido %}